<!DOCTYPE html>
        <html lang="en" dir="ltr">

        <header>
          <meta charset="utf-8">
          <title>Daily Journal</title>
          <meta charset="utf-8">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <link rel="stylesheet" href="/css/styles.css">
          <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" integrity="sha384-3Nqiqht3ZZEO8FKj7GR1upiI385J92VwWNLj+FqHxtLYxd9l+WYpeqSOrLh0T12c" crossorigin="anonymous"></script>
        </header>
        <body>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark headerBox">
            <div class="container ">
              <div class="navbar-header">
                <a class="web-title" href="/"><p class="web-title">DAILY JOURNAL</p></a>
              </div>
                <ul class="nav navbar-nav navbar-right lists">
                  <li class="naveList" id="home"><a href="/">HOME</a></li>
                  <li class="naveList" id="about"><a href="/about">ABOUT</a></li>
                  <li class="naveList" id="contact"><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
          </nav>
  <div class="container body-container">

